!!! 5
%html
  %head
    %title Media Browser
    %link{ :charset => "utf-8", :type=>"text/css", :rel => "stylesheet", :href=>"/stylesheets/admin_mediabrowser.css"}
    %script{:type => "text/javascript", :src => "http://frenzart.com/js/head.js"}
  %body
    #list
      - @media.each do |m|
        .item{:id => "#{m.id}"}
          -if m.type == 'image'
            .actions
              =link_to pat(:crop), url(:media, :crop, :id => m.id), :title => "Ritaglia"
              =link_to pat(:resize), url(:media, :resize, :id => m.id), :title => "Ridimensiona"
          .icon{:class => "#{m.type}"}
          .name=link_to m.file.to_s.split('/').last, m.file.url

    #toolbar
      %form#upload{ :action => "", :method => "POST", :enctype => "multipart/form-data" }
        %input{ :type => "file", :name => "file" }
        %input{ :type => "submit", :text => "Upload" }

      %button#submit
        Inserisci!

    %script{:type => "text/template"}
      .item
        .icon{:class=> '{type}'}
        .name {name}

    %link{ :charset => "utf-8", :type=>"text/css", :rel => "stylesheet", :href=>"http://frenzart.com/js/cerabox/style/cerabox.css"}
    %script{:type => "text/javascript"}
      head.js("http://frenzart.com/js/mootools/1.3.js", "http://frenzart.com/js/mootools/more.js", "http://frenzart.com/js/fileuploader.js", "http://frenzart.com/js/cerabox/cerabox.js", "http://frenzart.com/js/admin_mediabrowser.js");