<div class='template' name='links_edit' type="text/x-handlebars-template">
  <form>
    <p>
      <label for='title'>Titolo:</label>
      <input name='title' placeholder='Titolo' value='{{ title }}'>
    </p>
    <p>
      <label for='subtitle'>Sottotitolo:</label>
      <input name='subtitle' placeholder='Sottotitolo' value='{{ lead }}'>
    </p>

  <p>
    <label for='subtitle'>Testo:</label>
    <textarea name='subtitle' placeholder='Testo'>{{ text }}</textarea>
  </p>
  <input type='submit' value='Salva'>
  <input type='reset' value='Annulla'>
</div>

<div class='template' name='links_list' type="text/x-handlebars-template"></div>
