<% if taxons.size > 0 -%>
<ul>
  <% for i in Range.new(0,taxons.size - 1 ) -%>
    <li>
      <%= link_to(taxons[i].title, ((Cfg['locales'].size == 1)? "/": "/#{Cfg.locale}/" ) + taxons[i].path.to_s) unless taxons[i].class == Array %>
      <% if taxons[i+1].class == Array  -%>
        <%= partial("shared/taxonomy", :locals => { :taxons => taxons[i+1] }) %>
      <% end -%>
    </li>
  <% end -%>
</ul>
<% end -%>

