%nav.secondary-navigation
  %ul
    %li.first=link_to pat(:list), url(:pages, :index)
    %li=link_to pat(:new), url(:pages, :new)
    %li.active=link_to pat(:tree), url(:pages, :tree)
#content
  %h2
    =pat(:all)
    =mt(:page)
  .inner
    .tree
      = tree