.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:pages, :index)
      %li=link_to pat(:new), url(:pages, :new)
      %li=link_to pat(:tree), url(:pages, :tree)
  .content
    %h2.title
      =pat(:all)
      =mt(:page)
    .inner
      = tree