/* Vars */

@font-size: 16px;
@vertical-rhythm: @font-size * 1.5;

@fontstack1:  Helvetica, arial, sans-serif; /* Headings */
@fontstack2:  Helvetica Neue, arial, sans-serif; /* Body copy */
@fontstack3: Georgia, serif;

@color1: #20bd7c; /* Main theme colour colour */
@color2: #333; /* headings */
@color3: #888; /* Neutral / body copy colour */
@color4: #e5e5e5; /* Background / light colour */

/* Grid Variables */

@columnWidth: 49px;
@gutter: 16px;
@allColumns: @columnWidth * 12;
@allGutters: (@gutter * 12) * 2;
@totalWidth: @allColumns + @allGutters;

/* Imports */
/* The grid */

.theWidth (@theColumn: 1, @theGutter: 0) {
    width: (@columnWidth * @theColumn) + (@gutter * @theGutter);
}

.grid_1 { .theWidth(1,0); }
.grid_2 { .theWidth(2,2); }
.grid_3 { .theWidth(3,4); }
.grid_4 { .theWidth(4,6); }
.grid_5 { .theWidth(5,8); }
.grid_6 { .theWidth(6,10); }
.grid_7 { .theWidth(7,12); }
.grid_8 { .theWidth(8,14); }
.grid_9 { .theWidth(9,16); }
.grid_10 { .theWidth(10,18); }
.grid_11 { .theWidth(11,20); }
.grid_12 { .theWidth(12,22); }

.column {
    margin: 0 @gutter;
    overflow: hidden;
    float: left;
    display: inline;
}

.row {
    width: @totalWidth;
    margin: 0 auto;
    overflow: hidden;
}

.row .row {
    margin: 0 (@gutter * -1);
    width: auto;
    display: inline-block;
}

/* Headings */

h1 {
    font-size:@font-size * 3.0625; /* 49px */
    line-height:1.4694em; /*72px*/
    margin-top: 0.87em;
    margin-bottom:0.1096em;
} 

h2 {
    font-size:@font-size * 2.25; /* 36px */
    line-height: 1.3333em; /*48px*/
    margin-top:1em;
    margin-bottom:.3334em;
}

h3 {
    font-size:@font-size * 1.75; /* 28px */
    line-height:1.7143em; /*48px*/
    margin-top: 1.4142em;
    margin-bottom:0.3333em;
} 

h4 {
    font-size:@font-size * 1.4375; /* 23px */
    line-height:1.0435em; /*24px*/
    margin-top:1.2912em;
    margin-bottom:0.7956em ;
} 

h5 {
    font-size:@font-size * 1.125em; /* 16px */
    line-height: 1.3333em; /*24px*/
    margin-top:1.8em; /* 2.7222em */
    margin-bottom:.9222em;
}

/* Text elements
-------------------------------------------------------------- */

p { 
  margin: 0 0 18px 0; 
} 

p img, 
li img { 
  float: left;  
  margin: 4px 6px 0 0; 
  padding: 0; 
} 

p img.right, 
li img.right { 
  float: right; 
  margin: 4px 0 6px 0; 
  padding: 0; 
} 

a,
a:focus {
  color: #009;
  text-decoration: underline;
}

a:hover {
  color: #000;
}

blockquote {
  background: #F9F9F9;
  border-left: 6px solid #ccc;
  margin: 0 0 18px;
  padding: 9px;
  quotes: "“" "”" "‘" "’";
  color: #333;
  font-family: @fontstack3;
  font-size: 13px;
  font-style: italic;
}

p.intro:first-letter,
p.important:first-letter {
  font-size: 43px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 5px;
  float: left;
  padding: 5px 0 0 0;
  width: auto;
  font-family: @fontstack3;
  text-shadow: 1px 1px 1px #333;
}

p.intro:first-line,
p.important:first-line {
  font-variant: small-caps;
}

pre, code {
  overflow-x: auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #111;
  border: 1px solid #333;
  font-family: monaco, courier, "courier new", monospace;
  font-size: 11px;
  margin: 0 0 18px;
  padding: 9px;
}

/* notices
-------------------------------------------------------------- */

.message {
  text-align: center;
  font-size: 110%;
  line-height: 18px;
  padding: 10px;
  margin-bottom: 1em;
}

.notice {
  background: #FFF6BF; 
  color: #514721; 
  border-bottom: 1px solid #FFD324;
}

.error {
  background: #FBE3E4; 
  color: #8a1f11; 
  border-bottom: 1px solid #FBC2C4;
}

.success {
  background: #E6EFC2; 
  color: #264409; 
  border-bottom: 1px solid #C6D880; 
}

