<!DOCTYPE HTML>
<html lang="<%= I18n.locale %>" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <script src="/javascripts/modernizr-1.5.min.js"></script>
  <link rel="stylesheet" href="/css/imagination.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <title>B&amp;B La Torre - Photo</title>
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
  <ul id="menu">
    <li><a href="/"><img src="/images/logo_mini.png" alt="back"></a></li>
  </ul>

  <div id="photos">
    <% @photos.each do |p| %>
      <div>
        <h1><%=p.title %></h1>
        <img src="<%=p.photo.url %>">
        <span class="tags">
          <% p.tag_list.each do |t|%>
            <%= link_to t, url( :imagination_tag, :tag => t) %>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>

  <script src='/javascripts/jquery.min.js' type='text/javascript' charset='utf-8'></script>
  <script src='/javascripts/plugins.js' type='text/javascript' charset='utf-8'></script>
  <script src="/javascripts/galleria.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/galleria.history.js" type="text/javascript" charset="utf-8"></script>
  <!--[if lt IE 7 ]>
    <script src="js/dd_belatedpng.js?v=1"></script>
  <![endif]--><!--[if lt IE 9 ]>
    <script src="js/dd_roundies.js?v=1"></script>
    <script>$(function(){DD_roundies.addRule('#menu', '5px');});</script>
  <![endif]-->
  <script type="text/javascript" charset="utf-8">
    Galleria.loadTheme('/javascripts/galleria/frenz.js');
    
    $('#photos').galleria({
      image_crop: false,
      transition: 'slide',
      show_info: true,
      thumbnails: true,
      data_config: function(img) {
        return {
          title: $(img).parent().find('h1').html(),
          description: $(img).parent().find('span').html()
        };
      }
    });
  </script>
</body>
</html>