<div class="block">
  <h3>Aiuto Markdown</h3>
  <div class="content collapse">
    <h4>Titoli</h4>
      <pre># Titolo di primo livello #</pre>
      <pre>### Titolo di terzo livello ###</pre>

    <h4>Links</h4>
      <pre>[Questo &egrave; un link](http://www.gtgames.it)</pre>

    <h4>Blockquote</h4>
      <pre>> This is quoted</pre>
    <h4>Lists</h4>
      Liste non ordinate: <em>*</em>, <em>+</em> o <em>-</em>
      <pre>* Questa
* &egrave;
* una lista
- This
- is
- a list
</pre>
    <h4>Ordered lists use number followed by period.</h4>
      1. with 1. numbers
      <pre>1. with
2. numbers</pre>

    <h4>Horizontal lines</h4>
      Three or more dashes
      <pre>----</pre>
    <h4>Emphasis</h4>
      A single underscore or asterix is italic, two is bold.
      <pre>_italic_</pre> or <pre>*italic*</pre>
    <em>italic</em> or <em>italic</em>

    <pre>__bold__</pre> or <pre>**bold**</pre>
    <strong>bold</strong> or <strong>bold</strong>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to "Link 1" %></li>
    <li><%= link_to "Link 1" %></li>
  </ul>
</div>