<img src="http://chart.apis.google.com/chart?chbh=a&chs=360x120&cht=bhg&chco=3072F3,76A4FB&chds=0,195,0,200&chd=t:120|50&chtt=Contatti:" width="360" height="120" alt="Grafico contatti sul sito web">

<div id="stats">
  <div class="domain"></div>
  <div class="uniques"></div>
  <div class="pings"></div>
</div>


<script>
//<![CDATA[
$(function(){
  $.getJSON("http://analyst.machete.it/<%= Cfg[:analyst] %>.js?callback=?",
  function(data) {
    $('#stats.domain').attr('html', data.domain);
    $('#stats.uniques').attr('html', data.uniques);
    $('#stats.pings').attr('html', data.pings);

    var url = function(){
      var pi = parseFloat(data.pings),
      un = parseFloat(data.uniques);
      var tot = pi+un;
      return "http://chart.apis.google.com/chart" +
      "?chbh=a&chs=360x120&cht=bhs&chco=3072F3,76A4FB" +
      "&chds=0," + tot + ",0," + tot +
      "&chd=t:" + pi + "|" + un +
      "&chtt=Horizontal+bar+chart"
    };

    $('#chart').attr('src', url())
  });
});
//]]>
</script>

<% content_for :title, 'Dashboard' %>
