<div class="block" id="block-text">
  <div class="content">
    <h2 class="title">Statistiche</h2>
    <div class="inner">
      Grafico Visite
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>