<img id="chart" src="" width="360" height="120" alt="Grafico contatti sul sito web">

<ul id="stats">
  <li>Dominio <b class="domain">n/a</b></li>
  <li>Visitatori unici <b class="uniques">n/a</b></li>
  <li>visualizzazioni <b class="pings">n/a</b></li>
</ul>


<script>
//<![CDATA[
$(function(){
  $.getJSON("http://analyst.machete.it/<%= Cfg[:analyst] %>.js?callback=?",
  function(data) {
    $('#stats .domain').attr('html', data.domain);
    $('#stats .uniques').attr('html', data.uniques);
    $('#stats .pings').attr('html', data.pings);

    this.url = (function(){
      var pi = parseFloat(data.pings),
      un = parseFloat(data.uniques);
      var tot = pi+un;
      return "http://chart.apis.google.com/chart" +
      "?chs=360x120&cht=p&chco=72D5FF" +
      "&chds=0," + max + "&chd=t:" + pi + "," + un +
      "&chl=Contatti|Unici&chma=5,5,5,5"
    })();
    $('#chart').attr('src', this.url);
  });
});
//]]>
</script>

<% content_for :title, 'Dashboard' %>
