<img id="chart" src="" width="360" height="120" alt="Grafico contatti sul sito web">

<div id="stats">
  <div class="domain"></div>
  <div class="uniques"></div>
  <div class="pings"></div>
</div>


<script>
//<![CDATA[
$(function(){
  $.getJSON("http://analyst.machete.it/<%= Cfg[:analyst] %>.js?callback=?",
  function(data) {
    $('#stats.domain').attr('html', data.domain);
    $('#stats.uniques').attr('html', data.uniques);
    $('#stats.pings').attr('html', data.pings);

    this.url = (function(){
      var pi = parseFloat(data.pings),
      un = parseFloat(data.uniques);
      var tot = pi+un;
      return "http://chart.apis.google.com/chart" +
      "?chs=360x120&cht=p&chco=72D5FF" +
      "&chds=0," + max + "&chd=t:" + pi + "," + un +
      "&chl=Contatti|Unici&chma=5,5,5,5"
    })();
    $('#chart').attr('src', this.url);
  });
});
//]]>
</script>

<% content_for :title, 'Dashboard' %>
