!doctype html
html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  head
    meta content="text/html; charset=utf-8" http-equiv="Content-Type"
    title Admin
    ==stylesheet_link_tag "admin/base", "admin/style", "admin/formalize"

    //script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'
    script src='/javascripts/libs/jquery.min.js'
    script src='/javascripts/libs/handlebars.js'
    script src='/javascripts/libs/json2.js'
    script src='/javascripts/libs/underscore.js'
    script src='/javascripts/libs/backbone.js'
    script src='/javascripts/admin/lib.js'
    script src='/javascripts/admin/pages.js'
    script src='/javascripts/admin/posts.js'
    script src='/javascripts/admin/menus.js'
    script src='/javascripts/admin/app.js'

  body
    #container
      #header
        h1==link_to "admin", url(:base_index)
        #user-navigation
          ul.wat-cf
            li==link_to pat(:profile), url(:accounts, :edit, :id => current_account.id)
            li==link_to pat(:logout), url(:sessions, :destroy), :method => :delete
        #main-navigation
          ul.wat-cf
            -project_modules.each do |project_module|
              li class={"active" if request.path_info =~ /^#{project_module.path}/}
                ==link_to project_module.human_name, project_module.path("/#!")
      #wrapper.wat-cf
        #main
          ' Dashboard!mi servono un po di statistiche! almeno un coso che le visite
        #sidebar== partial("base/sidebar")


      #flash &nbsp;
      #footer
        .block
          p
            ' Copyright &copy; #{Time.now.year} G.T.Games - Powered by
            ==link_to "Machete v.0.4.8", "http://machete.it", :target => :_blank

    == partial('templates/main')
    == partial('templates/pages')
    == partial('templates/posts')
    == partial('templates/links')