.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title

.group
  - if not f.object.photo.nil?
    %img.thumb{ :src => f.object.photo.thumb.url }
  =f.label :photo
  =f.error_message_on :photo
  =f.file_field :photo

.group
  =f.label :subtitle
  =f.error_message_on :subtitle
  =f.text_area :subtitle

.group
  =f.label :text
  =f.error_message_on :text
  =f.text_area :text, :id => 'wysiwyg'

.group
  =f.label :tag_list
  =f.error_message_on :tag_list
  =f.text_field :tag_list
  %span.description Lista Tags

= cpartial "custom/posts", :locals => { :f => f }

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:posts, :index)}';return false", :class => :button