.group
  ==f.label :title
  ==f.error_message_on :title
  ==f.text_field :title, :class => :text_field, :id => :title
  p.description &nbsp;

.group
  ==f.label :lead
  ==f.error_message_on :lead
  ==f.text_field :lead, :class => :text_field
  p.description frase introduttiva

.group
  ==f.label :text
  ==f.error_message_on :text
  ==f.text_area :text, :class => :editor
  p.description &nbsp;

.group
  ==f.label :tag_list
  ==f.error_message_on :tag_list
  ==f.text_field :tag_list, :class => :text_field
  p.description Parole chiave descrittive del contenuto

.group.navform.wat-cf
  ==f.submit pat(:save), :class => [:button, :wymupdate]
  ==f.submit pat(:cancel), :onclick => "window.location='#{url(:posts, :index)}';return false", :class => :button
