*.pbxuser
*.perspectivev3
*.perspective
*.mode1
*.mode1v3
*~.nib
.DS*
*.pyc

.cache
cache

*.swp

tmp/*

Gemfile.lock
.bundle

log/*
db/*.db
public/assets/*
public/images/*
public/attachments/*

app/views/shared/_footer.haml
public/stylesheets/imagination.css
public/stylesheets/style.css
public/media/*
public/stylesheets/layout.css
public/stylesheets/admin.css
templates/blog
templates/cercahotel
templates/gallery
*.tmproj
