<!DOCTYPE html>
<html>
  <head>
    <title>Image Browser</title>
  </head>
  <body>
    <img id="filebrowser_preview" src=''>
    <ul id="filebrowser_list">
      <% @files.each do |i| -%>
        <li id="<%= i._id %>"><%= image_tag(i.thumb(), :id => i._id, :"data-link" => i.url) %></li>
      <% end -%>
    </ul>

    <div id="filebrowser_upload"></div>
  </body>
</html>
