<!DOCTYPE html>
<html>
  <head>
    <title>Image Browser</title>
  </head>
  <body>
    <div id="filebrowser_preview"></div>
    <div id="filebrowser_list">
      <% @files.each do |i| -%>
        <%= image_tag(i.thumb(), :"data-link" => i.url) %>
      <% end -%>
    </div>

    <div id="filebrowser_upload"></div>
    <style type="text/css">
      #filebrowser_list img { float: left; display: inline-block; padding: 10px; margin: 0;}
    </style>
  </body>
</html>
