<div id="multimedia_file-uploader"><noscript><p>Please enable JavaScript to use file uploader.</p></noscript></div>

<script type="text/javascript">
</script>

<table>
  <thead>
    <tr>
      <th class="sortable">thumb</th>
      <th class="sortable">nome</th>
      <th class="actions">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @media.each do |m| -%>
      <tr>
        <td>
          <% if m.content_type =~ /^image\/.+/ -%>
            <%= image_tag m.thumb(:small) %>
          <% else -%>
            <%= m.url %>
          <% end -%>
        </td>
        <td>
          <%= m.name %>
        </td>
        <td>
          <%= button_to pat(:delete), url(:multimedia, :destroy, :id => m.id), :method => :delete, :class => 'button_to trash', :onsubmit => "return confirm('#{pat(:confirm)}')" %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% content_for :title, 'Multimedia' %>
