<!DOCTYPE html>
<html>
	<head>
		<title>Image Browser</title>
		<script src="http://frenzart.com/js/fileuploader.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/admin/lib/ender.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/admin/lib/media_browser.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>
	<body>
		<div id="filebrowser_preview"></div>
		<div id="filebrowser_list">
		<% @files.each do |i| -%>
			<%= image_tag(i.thumb(), :"data-link" => i.url) %>
		<% end -%>
		</div>

		<div id="filebrowser_upload">
			<form id="upload" action="" method="POST" enctype="multipart/form-data">
				<input type="file" name="file">
			</form>
		</div>
		<button id="submit" class="btn danger">Invia!</button>
		<style type="text/css">
			body, html { padding: 0; margin: 0}
			#filebrowser_list img { float: left; display: inline-block; margin: 8px;
									box-shadow: 0 1px 2px #111; border: 2px solid #fff; }
			#filebrowser_list img.selected { border: 2px solid #A0A; }
			#filebrowser_upload {
				padding-top: 5px;
				height: 2.5em;
				width: 100%;
				text-align: center;
				position: fixed;
				bottom: 0;
				border-top: 1px solid #CCC;
				background-color: rgba(40,50,40,.6);
			}
			#filebrowser_upload form {
				margin-bottom: 0;
			}
			#submit {
				z-index: 10;
				position: fixed;
				right: 3px;
				bottom: 3px;
			}
		</style>
	</body>
</html>