<table class="table table-striped">
  <thead>
    <tr>
      <th class="sortable">thumb</th>
      <th class="sortable">nome</th>
      <th class="last">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @media.each do |m| -%>
      <tr>
        <td>
          <% if m.content_type =~ /^image\/.+/ -%>
            <%= image_lazy(m.thumb('100x100')) %>
          <% else -%>
            <%= m.url %>
          <% end -%>
        </td>
        <td>
          <%= link_to m.name, m.url, :rel => (m.content_type =~ /^image\/.+/)? 'image' : 'file' %>
        </td>
        <td>
          <%= delete_button pat(:delete), url(:multimedia, :destroy, :id => m.id) %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<% content_for :title, 'Multimedia' %>

<% content_for :actions do %>
	<div id="multimedia_file-uploader">
		<noscript><p>Please enable JavaScript to use file uploader.</p></noscript>
	</div>
<% end %>