<%- @posts.each do |p| %>
  <article>
  <div class='headline'>
    <img src="<%= p.photo.thumb unless p.photo.nil? %>">
	<h1><%= link_to p.title, url(:show, :slug => p.slug) %></h1>
    <p><%= p.lead %></p>
  </div>
  </article>
<% end %>
