#menu {
  list-style: none inside;
  color: #FFF;
  padding: 10px;
  position: absolute;
  z-index: 10001;
  top: 45px;
  left: 30px;
  background: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);
}
#menu a {
  color: #fff;
  text-decoration: none;
}