.group
  =f.label :url
  =f.error_message_on :url
  =f.text_field :url, :placeholder => "http://gtgames.it/"
  %p
    URL in formato 
    %em
      http://gtgames.it/
.group
  - if not f.object.file.nil?
    %img.thumb{ :src => f.object.file.url }
  =f.label :file
  =f.error_message_on :file
  =f.file_field :file

= cpartial "custom/partners", :locals => { :f => f }

.group.navform
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:partner, :index)}';return false", :class => :button
