%nav.secondary-navigation
  %ul
    %li.first=link_to pat(:list), url(:partner, :index)
    %li=link_to pat(:new), url(:partner, :new)
    %li.active=link_to pat(:edit), url(:partner, :edit, :id => @partner.id)
#content
  %h2
    =pat(:edit)
    =mt(:partner)
  .inner
    -form_for :partner, url(:partner, :update, :id => @partner.id), :method => :put, :multipart => true, :class => :form do |f|
      =partial "partners/form", :locals => { :f => f }
