
<div class="btn-group">
<a class="btn" href="/photos">
	<i class="icon-th-list"></i> Elenco
</a>
<a class="btn" href="/photos/new">
	<i class="icon-file"></i> Nuovo</a>
<a class="btn" href="/photos/import">
	<i class="icon-upload"></i> Import</a>
</div>