<li><a href="/photos">
	<i class="icon-th-list"></i> Elenco</a></li>
<li><a href="/photos/new">
	<i class="icon-file"></i> Nuovo</a></li>
<li><a href="/photos/import">
	<i class="icon-upload"></i> Import</a></li>