<div id="dropbox">
</div>

<form class="form" method="post" action="/photos/import_it" accept-charset="UTF-8">
	<div class="module_content">
		<table  class="zebra-striped">
			<thead>
				<tr>
					<th class="last">&nbsp;</th>
					<th>Thumb</th>
					<th>Nome/File</th>
				</tr>
			</thead>
			<tbody id="__target">
			</tbody>
		</table>

		<div class="text">
			<label class="text" for="photo_tag_list">Tags</label>
			<input class="text" id="photo_tag_list" name="import[tag_list]" type="text">
			<p></p>
		</div>

		<div class="string">
			<label class="string" for="photo_gallery">Nome Galleria</label>
			<input class="string" id="photo_gallery" name="import[gallery]" type="text" />
			<p></p>
		</div>
	</div>

	<div class='actions'>
		<input class="btn default" value="Salva" type="submit" />
		<input onclick="window.location='/photos';return false" class="btn danger" value="Annulla" type="submit" />
	</div>
</form>

<% content_for :actions, partial("gallery/admin/actions") %>
<% content_for :title, 'Importazione di massa per Foto' %>
