<div class="block">
  <h3>Aiuto Markdown</h3>
  <div class="content">

    <ul>
      <li><%= link_to 'Indice Prodotti', url(:shop, :products) %></li>
      <li><%= link_to 'Indice Categorie', url(:shop, :categories) %></li>
    </ul>

  </div>
</div>