.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field

.group
  =f.label :description
  =f.error_message_on :description
  =f.text_field :description, :class => :text_field

.group
  =f.label :file
  =f.error_message_on :file
  =link_to(f.object.file.url) unless f.object.file.nil?
  =f.file_field :file, :class => :text_field

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:media, :index)}';return false", :class => :button