.group
  =f.label :file
  =f.error_message_on :file
  -if not f.object.file.nil?
    %a{:href => f.object.file.url}= f.object.file.url
  =f.file_field :file

.group.navform
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:media, :index)}';return false", :class => :button