.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:media, :index)
      %li=link_to pat(:new), url(:media, :new)
      %li.active=link_to pat(:edit), url(:media, :edit, :id => @media.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:media)
    .inner
      -form_for :media, url(:media, :update, :id => @media.id), :method => :put, :enctype => "multipart/form-data", :class => :form do |f|
        =partial "medias/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")