.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:media, :index)
      %li=link_to pat(:new), url(:media, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:media)
    .inner
      %table.table
        %tr
          %th.first=mat(:media, :name)
          %th=mat(:media, :size)
          %th.last="&nbsp;"
        -@medias.each do |media|
          %tr
            %td.first=link_to media.file.to_s.split('/').last, media.file.url
            %td
              #{media.file.file.size/1024} kb
            %td.last
              =button_to pat(:edit), url(:media, :edit, :id => media.id), :method => :get, :class => :button_to
              |
              =button_to pat(:delete), url(:media, :destroy, :id => media.id), :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
