.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:medias, :index)
      %li.active=link_to pat(:new), url(:medias, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:media)
    .inner
      -form_for :media, url(:medias, :create), :class => :form do |f|
        =partial "medias/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")