/*
  Reset
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#nil; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */

/* qqUpload */
.qq-uploader {
  width: 100%;}

.qq-upload-button {
     -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  display:block; /* or inline-block */
  width: 195px;
  padding: 7px 0;
  text-align:center;    
  color:#000;
       -moz-box-shadow: 0px 1px 2px #a0a0a0; /* FF3.5+ */
    -webkit-box-shadow: 0px 1px 2px #a0a0a0; /* Saf3.0+, Chrome */
            box-shadow: 0px 1px 2px #a0a0a0; /* Opera 10.5, IE9 */
            
  background-color: #83A4C5;
  background-image: -moz-linear-gradient(top, #83A4C5, #4B89D0); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #83A4C5),color-stop(1, #4B89D0)); /* Saf4+, Chrome */
  background-image: linear-gradient(top, #83A4C5, #4B89D0);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#83A4C5', EndColorStr='#4B89D0');

}
.qq-upload-button-hover {
 background-color: #4B89D0;
 background-image: -moz-linear-gradient(top, #4B89D0, #83A4C5); /* FF3.6 */
 background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #4B89D0),color-stop(1, #83A4C5)); /* Saf4+, Chrome */
 background-image: linear-gradient(top, #4B89D0, #83A4C5);
           filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4B89D0', EndColorStr='#83A4C5');
}
.qq-upload-button-focus {
  outline: 0px;
}

.qq-upload-drop-area {
    position:fixed;
    top:  0;
    left: 0;
    width: 220px;
    height:100%;
    z-index: 2;
    background: #505386;
    text-align: center;
    border-right: 1px solid #636EC5;
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {
  z-index: 2;
  background: #636EC5;
  text-align: center;
}

.qq-upload-list {
  padding:0;
  list-style:none;
  display:block;
}
.qq-upload-list li {
  margin:10px 0;
  padding:0;
  line-height:15px;
  font-size:12px;
  text-shadow: 0px 1px 2px #69B3FF;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {}
.qq-upload-size,.qq-upload-cancel {
  font-size:11px;
}

.qq-upload-failed-text {
  display:none;
}
.qq-upload-fail .qq-upload-failed-text {
  display:inline;
}

/* qqUpload __END__ */

#list {
  margin-left: 220px;
}
.item {
  float: left;
  display:inline-block;
  width: 128px;
  padding-bottom:10px;
  margin: 10px;
  border: 2px solid #ffffff;
     -moz-box-shadow: 0px 1px 4px #101010;
  -webkit-box-shadow: 0px 1px 4px #101010;
          box-shadow: 0px 1px 4px #101010;
     -moz-transition: all 0.8s ease-out;
       -o-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
          transition: all 0.8s ease-out;
}
.item.selected {
  border: 2px solid #4B89D0;
     -moz-box-shadow: 0px 1px 4px #83A4C5;
  -webkit-box-shadow: 0px 1px 4px #4B89D0;
          box-shadow: 0px 1px 4px #4B89D0;
     -moz-transition: all 0.8s ease-out;
       -o-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
          transition: all 0.8s ease-out;
}
.item .icon {
  width:96px;
  height:96px;
  margin: 0 auto;
}
.item .name {
  display:block;
  text-align: center;
}

.icon.image {
  background:#ccc;
}


#toolbar {
  padding: 4px;
  position: fixed;
  top:0;
  width: 200px;
  height: 100%;
  background-color: #dfe4ea;
  border-right: 1px solid #BDD1E4;
}
#submit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 180px;
  margin:16px;
  padding:8px 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.4em;
