<iframe id="player" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/<%= Cfg['youtube']['video'] %>?enablejsapi=1&origin=<%= Cfg[:domain] %>"
  frameborder="0"></iframe>

<script type="text/javascript">
  function loadVideo(id) {
    var iframe = document.getElementById('player');
    iframe.src = "http://www.youtube.com/embed/" + id + "?enablejsapi=1&origin=<%= Cfg[:domain] %>";
  }
function showIt(data) {
  console.log(data);

  var items = data.data.items;
  var html = ['<ul class="videos">'];
  for (var i = 0; i < items.length; i++) {
    var item = items[i];
    var title = item.title;
    
    var thumbnailUrl = items[i].thumbnail.sqDefault;
    var playerUrl = items[i].id;
    html.push('<li onclick="loadVideo(\'', playerUrl, '\', true)">',
        '<span class="titlec">', title, '...</span><br /><img src="',
        thumbnailUrl,
        '" width="130" height="97"/>',
        '</span></li>');
  }
  html.push('</ul><br style="clear: left;"/>');
  document.getElementById('videos2').innerHTML = html.join('');
  if (entries.length > 0) {
    loadVideo(items[0].id);
  }
}
</script>
</head>
<body>
<div id="playerContainer" style="width: 20em; height: 180px; float: left;">
    <object id="player"></object>
</div>
<div id="videos2"></div>
<script type="text/javascript" src="http://gdata.youtube.com/feeds/api/users/<%= Cfg['youtube']['user'] %>/uploads?v=2&alt=jsonc&callback=showIt"></script>
