.group
  ==f.label :file_filename
  ==f.error_message_on :file_filename
  ==f.text_field :file_filename, :class => :text_field
  br
  span.description Ex: a simple text

.group
  ==f.label :title
  ==f.error_message_on :title
  ==f.text_field :title, :class => :text_field
  br
  span.description Ex: a simple text


.group.navform.wat-cf
  ==f.submit pat(:save), :class => :button
  =="&nbsp;"
  ==f.submit pat(:cancel), :onclick => "window.location='#{url(:photos, :index)}';return false", :class => :button
