.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name

.group
  - if not f.object.file.nil?
    %img.thumb{ :src => f.object.file.thumb.url }
  =f.label :file
  =f.error_message_on :file
  =f.file_field :file

.group
  =f.label :tag_list
  =f.error_message_on :tag_list
  =f.text_field :tag_list
  %span.description Lista Tags

= cpartial "custom/photos", :locals => { :f => f }


.group.navform
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:photos, :index)}';return false", :class => :button
