.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :file
  =f.error_message_on :file
  =f.file_field :file, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :tag_list
  =f.error_message_on :tag_list
  =f.text_field :tag_list, :class => :text_field
  %span.description Lista Tags


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:photos, :index)}';return false", :class => :button
