.block
  .secondary-navigation
    ul.wat-cf
      li.first==link_to pat(:list), url(:photos, :index)
      li==link_to pat(:new), url(:photos, :new)
      li.active==link_to pat(:edit), url(:photos, :edit, :id => @photo.id)
  .content
    h2.title
      =pat(:edit)
      =="&nbsp;"
      =mt(:photo)
    .inner
      ==form_for :photo, url(:photos, :update, :id => @photo.id), :method => :put, :class => :form do |f|
        ==partial "photos/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
