%nav.secondary-navigation
  %ul.wat-cf
    %li.first.active=link_to pat(:list), url(:photos, :index)
    %li=link_to pat(:new), url(:photos, :new)
#content
  %h2
    =pat(:all)
    =mt(:photo)
  .inner
    %table
      %tr
        %th.first=mat(:photo, :name)
        %th=mat(:photo, :file)
        %th=mat(:photo, :tag_list)
        %th.last="&nbsp;"
      -@photos.each do |photo|
        %tr
          %td.first=photo.name          
          %td
            =link_to photo.file.file.extension, photo.file.url
            (#{photo.file.file.size/1024} kb)
          %td=photo.tag_list
          %td.last
            =button_to pat(:edit), url(:photos, :edit, :id => photo.id), :method => :get, :class => :button_to
            =button_to pat(:delete), url(:photos, :destroy, :id => photo.id), :method => :delete, :class => :button_to_delete
