.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:photos, :index)
      %li=link_to pat(:new), url(:photos, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:photo)
    .inner
      %table.table
        %tr
          %th.first=mat(:photo, :name)
          %th=mat(:photo, :file)
          %th=mat(:photo, :created_at)
          %th=mat(:photo, :updated_at)
          %th.last="&nbsp;"
        -@photos.each do |photo|
          %tr
            %td.first=photo.name
            %td=photo.file
            %td=photo.created_at
            %td=photo.updated_at
            %td.last
              =button_to pat(:edit), url(:photos, :edit, :id => photo.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:photos, :destroy, :id => photo.id), :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")