.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:photos, :index)
      %li.active=link_to pat(:new), url(:photos, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:photo)
    .inner
      -form_for :photo, url(:photos, :create), :class => :form do |f|
        =partial "photos/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")