.vcard
  %p.adr
    %span.type{:style => "display:none"} Work
    %span.adr
      via Roma snc
    ,
    %span.postal-code
      67020
    %span.locality
      Fontecchio
    %abbr.region{:title => "L'Aquila"}
      AQ 
    (
    %span.country-name
      IT
    )
  %p.tel
    %span.type{:style => "display:none"} Work
    %span.value +39.349 09 17 950
  %p.tel
    %span.type{:style => "display:none"} Work
    %span.value +39.348 60 13 718