- yield_content :title, @news.title

.post
  %h1.title=@news.title
  %article
    =partial "news/date",:locals => {:p => @news}
    %p.subtitle=@news.subtitle
    %img.news{ :src => @news.photo.url }
    =@news.text