<DOCTYPE html>
<html>
<head>
</head>
<body>
  Autore:...<%= contact.author %><br />
  Email:....<%= contact.email %><br />
  Phone:....<%= contact.phone %><br />

  <h1>Messaggio:</h1>
  <pre>
    <%= h contact.text %>
  </pre>
</body>
</html>
