<article>
<% form_for :message, url(:contact, :new) do |f| -%>
  <%= f.input :author, :as => :string %>
  <%= f.input :email, :as => :string %>
  <%= f.input :text, :as => :text %>
  <div class="actions">
  	<input type="submit" class="btn" value="Invia">
  </div>
<% end -%>
</article>
