<% taxons.each do |t| -%>
  <% if t.class == Array -%>
    <%= partial "admin/taxonomy/parent_chooser", :locals => { :f => f, :taxons => t } %>
  <% else -%>
    <label class="radio" style="margin-left: <%= 15*t.depth %>px">
    <input type='radio' name="taxonomy[parent_id]" value="<%= t.id %>" <% if f.object.parent_id == t._id.to_s %> checked <% end %>><%= t.title %></label>
  <% end -%>
<% end -%>
