.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:aphorisms, :index)
      %li.active=link_to pat(:new), url(:aphorisms, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:aphorism)
    .inner
      -form_for :aphorism, url(:aphorisms, :create), :class => :form do |f|
        =partial "aphorisms/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")