.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name
  %span.description Nome o descrizione da visualizzare 


.group
  =f.label :file
  =f.error_message_on :file
  =f.file_field :file
  %span.description File da aggiungere agli attachments

.group.navform
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:attachments, :index, :page_id => params[:page_id])}';return false", :class => :button