%nav.secondary-navigation
  %ul.wat-cf
    %li.first.active=link_to pat(:list), url(:attachments, :index, :page_id => params[:page_id])
    %li=link_to pat(:new), url(:attachments, :new, :page_id => params[:page_id])
    %li=link_to 'Pagine', url(:pages, :index)
#content
  %h2
    =pat(:all)
    =mt(:attachment)
  .inner
    %table
      %thead
        %tr
          %th.first=mat(:attachment, :name)
          %th=mat(:attachment, :created_at)
          %th.last="&nbsp;"
      %tbody
        -@attachments.each do |attachment|
          %tr
            %td.first=link_to attachment.name, attachment.file.url
            %td=(attachment.updated_at.nil?)? datef(attachment.created_at) : datef(attachment.updated_at)
            %td.last
              =button_to pat(:edit), url(:attachments, :edit, :page_id => params[:page_id], :id => attachment.id), :method => :get, :class => :button_to
              =button_to pat(:delete), url(:attachments, :destroy, :page_id => params[:page_id], :id => attachment.id), :method => :delete, :class => :button_to_delete
