%nav.secondary-navigation
  %ul.wat-cf
    %li.first.active=link_to pat(:list), url(:attachments, :index, :page_id => params[:page_id])
    %li=link_to pat(:new), url(:attachments, :new, :page_id => params[:page_id])
    %li=link_to 'Pagine', url(:pages, :index)
#content
  %h2
    =pat(:all)
    =mt(:attachment)
  .inner
    %table
      %tr
        %th.first=mat(:attachment, :name)
        %th=mat(:attachment, :created_at)
        %th=mat(:attachment, :updated_at)
        %th.last="&nbsp;"
      -@attachments.each do |attachment|
        %tr
          %td.first=link_to attachment.name, attachment.file.url
          %td=attachment.created_at
          %td=attachment.updated_at
          %td.last
            =button_to pat(:edit), url(:attachments, :edit, :page_id => params[:page_id], :id => attachment.id), :method => :get, :class => :button_to
            =button_to pat(:delete), url(:attachments, :destroy, :page_id => params[:page_id], :id => attachment.id), :method => :delete, :class => :button_to_delete

-content_for :sidebar, partial("base/sidebar")