.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:attachments, :index)
      %li.active=link_to pat(:new), url(:attachments, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:attachment)
    .inner
      -form_for :attachment, url(:attachments, :create), :class => :form do |f|
        =partial "attachments/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")