-if @photos.length > 0
  %h1.title Immagini
  %article
    - @photos.each do |p|
      %a{:href => "#{p.file.url}"}
        %img{:src => "#{p.file.thumb.url}"}

-if @posts.length > 0
  %h1.title News
  %article
    - @posts.each do |p|
      =partial "news/headline", :locals => { :p => p }

-if @pages.length > 0
  %h1.title Pagine
  %article
    - @pages.each do |p|
      =link_to p.title, url(:pages, :show, :id => p.id, :slug => p.slug)
