<ul>
  <% project_modules.each do |project_module| %>
    <li>
    <%= link_to project_module.human_name, project_module.path("/"), :class => (request.path_info =~ /^#{project_module.path}/)? 'active' : '' %>
      <ul>
        <li class="icn_new_article"><%= link_to 'Nuovo', project_module.path("/")+'/new' %></li>
        <li class="icn_categories"><%= link_to 'Lista', project_module.path("/") %></li>
      </ul>
    </li>
  <% end %>
  <!--
  <li>
    <a href='/multimedia'>Media</a>
    <ul class="toggle">
      <li class="icn_folder"><a href="#">File Manager</a></li>
      <li class="icn_audio"><a href="#">Audio</a></li>
      <li class="icn_video"><a href="#">Video</a></li>
    </ul>
  </li>
  <li>
    <a href='/advanced'>Avanzate</a>
    <ul class="toggle">
      <li class="icn_settings"><a href="/configurations">Opzioni</a></li>
    </ul>
  </li>
  -->
</ul>
