!doctype html
html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  head
    meta content="text/html; charset=utf-8" http-equiv="Content-Type"
    title Admin
    ==stylesheet_link_tag "admin/base", "admin/style", "admin/formalize"

  body
    #container
      #header
        h1==link_to "admin", url(:base_index)
        #user-navigation
          ul.wat-cf
            li==link_to pat(:profile), url(:accounts, :edit, :id => current_account.id)
            li==link_to pat(:logout), url(:sessions, :destroy), :method => :delete
        #main-navigation
          ul.wat-cf
            -project_modules.each do |project_module|
              li class={"active" if request.path_info =~ /^#{project_module.path}/}
                ==link_to project_module.human_name, project_module.path("/")
      #wrapper.wat-cf
        #main
          ==yield
          #footer
            .block
              p
                ' Copyright &copy; #{Time.now.year} G.T.Games - Powered by
                ==link_to "Machete v.0.4.8", "http://machete.it", :target => :_blank
        #sidebar==yield_content :sidebar


    #flash

    script src='http://frenzart.com/js/modernizr.js'
    script src='http://frenzart.com/js/mootools/1.3.js'
    script src='http://frenzart.com/js/mootools/more.js'
    script src='http://frenzart.com/js/jquery.js'

    script src='/wymeditor/jquery.wymeditor.js'
    script src='/wymeditor/jquery.wymeditor.safari.js'
    script src='/wymeditor/jquery.wymeditor.explorer.js'
    script src='/wymeditor/jquery.wymeditor.opera.js'
    script src='/wymeditor/jquery.wymeditor.mozilla.js'
    script src='/wymeditor/skins/default/skin.js'
    script src='/wymeditor/lang/it.js'
    script src='/javascripts/admin.js'