<div class="btn-group">
<%= link_to "<i class=\"icon-th-list\"></i> #{pat(:list)}", url(p, :index), :class => 'btn' %>
<%= link_to "<i class=\"icon-file\"></i> #{pat(:new)}", url(p, :new), :class => 'btn' %>
</div>