<div class="block">
  <h3></h3>
  <div class="content">
    <p>
      foo bar
    </p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to "Link 1" %></li>
    <li><%= link_to "Link 1" %></li>
  </ul>
</div>