<img id="chart" src="" width="360" height="120" alt="Grafico contatti sul sito web">

<ul id="stats">
  <li>Dominio <b class="domain">n/a</b></li>
  <li>Visitatori unici <b class="uniques">n/a</b></li>
  <li>visualizzazioni <b class="pings">n/a</b></li>
</ul>

<script type="text/javascript">
//<![CDATA[
$(document).on('ready', function(){
    Xhr.load("http://analyst.machete.it/<%= Cfg[:analyst] %>",{
        jsonp: 'callback',
        onSuccess: function() {
            var data = this.responseJSON;
            $$('#stats .domain').first().html(data.domain);
            $$('#stats .uniques').first().html(data.uniques);
            $$('#stats .pings').first().html(data.pings);

            var url = (function(){
                var pi = parseInt(data.pings), un = parseInt(data.uniques);
                var tot = pi+un;
                return "http://chart.apis.google.com/chart?chs=360x120&cht=p&chco=72D5FF" +
                       "&chds=0," + tot + "&chd=t:" + pi + "," + un +
                       "&chl=Contatti|Unici&chma=5,5,5,5";
            })();
            $('chart').set('src', url);
        }
    });
});
//]]>
</script>

<% content_for :title, 'Dashboard' %>

<% if current_account.role == "root" %>
<div>
	<h3>Azioni Cattive</h3>
	<a class="btn danger" href="/base/harakiri">Harakiri!</a>
	<a class="btn danger" href="/base/reboot">Restart!</a>
	<a class="btn info" href="/base/reless">Compile LESS</a>
</div>
<% end %>