<img id="chart" src="" width="360" height="120" alt="Grafico contatti sul sito web">

<ul id="stats">
  <li>Dominio <b class="domain">n/a</b></li>
  <li>Visitatori unici <b class="uniques">n/a</b></li>
  <li>visualizzazioni <b class="pings">n/a</b></li>
</ul>

<script type="text/javascript">
$.domReady(function(){
    $.ajax({
    	url: "http://analyst.machete.it/<%= Cfg[:analyst] %>",
        type: 'jsonp',
        success: function(data) {

        	if (data.error) {
        		$('#stats').text('');
        		$('#chart').remove();
        		return;
        	}

            $('#stats .domain')
            	.html(data.domain);
            $('#stats .uniques')
            	.html(data.uniques);
            $('#stats .pings')
            	.html(data.pings);

            var url = (function(){
                var pi = parseInt(data.pings), un = parseInt(data.uniques);
                var tot = pi+un;
                return "http://chart.apis.google.com/chart?chs=360x120&cht=p&chco=72D5FF" +
                       "&chds=0," + tot + "&chd=t:" + pi + "," + un +
                       "&chl=Contatti|Unici&chma=5,5,5,5";
            })();
            $('chart').attr('src', url);
        }
    });
});
</script>

<% content_for :title, 'Dashboard' %>

<% if current_account.role == "root" %>
<div>
	<h3>Azioni Cattive</h3>
	<a class="btn danger" href="/base/harakiri">Harakiri!</a>
	<a class="btn danger" href="/base/reboot">Restart!</a>
	<a class="btn info" href="/base/reless">Compile LESS</a>
</div>
<% end %>