%nav.secondary-navigation
  %ul.wat-cf
    %li.first=link_to pat(:list), url(:shortcuts, :index)
    %li.active=link_to pat(:new), url(:shortcuts, :new)
#content
  %h2
    =pat(:new)
    =mt(:shortcut)
  .inner
    -form_for :shortcut, url(:shortcuts, :create), :class => :form do |f|
      =partial "shortcuts/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")