- yield_content :title, 'Contattaci'
%article
  %form{ :url => url(:contact_new), :method => "post"}
    %input{:name => 'ip', :type => 'hidden', :value => "#{request.ip}" }
    %label{:for => "mail"}
      Indirizzo email
    %input#mail{:type => 'input', :name => "mail[email]", :value => @mail.email}

    %label{ :for => :name}
      Nome
    %input#name{:type => 'input', :name => "mail[author]", :value => @mail.author}

    %label{:for => "text"}
      Messaggio
    %textarea#text{:name => "mail[text]"}
      =@mail.text

    %input{:type => 'submit', :value => "Invia" }