<% if !taxons.nil? and taxons.size > 0 -%>
<% i = 0 %>
  <ul>
    <% while i < taxons.size -%>
      <li>
        <%= link_to(taxons[i].title, ((Cfg['locales'].size == 1)? "/": "/#{Cfg.locale}/" ) + taxons[i].path.to_s) unless taxons[i].class == Array %>
        <% if taxons[i+1].class == Array  -%>
          <%= partial("shared/taxonomy", :locals => { :taxons => taxons[i+1] }) %>
          <% i += 1 %>
        <% end -%>
      </li>
    <% i += 1 %>
    <% end -%>
  </ul>
<% end -%>
