<ul class="breadcrumb">
	<li><%= link_to 'Cerca Hotel', url(:index) %> <span class="divider">/</span></li>
	<li class="active"><%= link_to t('cerca'), url(:search) %></li>
</ul>

<form method="GET"></form>