#wtf
  %img#machete_rotto{:title => "Errore", :src => "/images/machete_rotto.png"}
  %p C'&egrave; stato un errore ma siamo stati notificati dell'accaduto.
  %p Presto i nostri tecnici controlleranno l'accaduto.
