<article>

<h1> Pagina non trovata </h1>

<p>
  Hai raggiunto una pagina non esitente, probabilmente una pagina eliminata.
  Prova a cercare nel sito tramite il campo qui sotto.
</p>

<div id="google_search">
  <form>
    <input type="search" placeholder="cerca">
  </form>
</div>

<script type="text/javascript" src="/javascript/search.js"></script>

</article>
